[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm Community Edition
Icon=pycharm
Exec=AppRun
Comment=Python IDE for Professional Developers
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm-ce
